<div class="row" id="bookmarks" ng-init="getUserBookmarks()">
    <div class="col s12">
        <h3>Your bookmarks</h3>
        <ul class="collection">
            <li class="collection-item dismissable" ng-repeat="bookmark in bookmarks">
                <div>
                    <a href="{{bookmark.url}}">{{bookmark.title}}</a>
                    <a href="#!" class="secondary-content"><i class="material-icons">delete</i></a>
                </div>
            </li>
        </ul>
        <a ng-href="http://{{bookmark.url}}">{{bookmark.url}}</a>
    </div>

    <!--<tr ng-repeat="bookmark in bookmarks">-->
        <!--<td>{{bookmark.title}}</td>-->
        <!--<td><a ng-href="http://{{bookmark.url}}">{{bookmark.url}}</a></td>-->
    <!--</tr>-->
</div>