<div class="row" id="history" ng-init="getUserHistory()">
    <div class="col s12">
        <h3>Your history</h3>
        <ul class="collection">
            <li class="collection-item dismissable" ng-repeat="elem in history">
                <div class="entity">
                    {{elem.lastVisit}}
                    {{elem.title | trunc: 20}}
                    <span class="url"><a href="{{elem.url}}">{{elem.url | trunc: 70}}</a></span>
                    <a href="#!" class="secondary-content"><i class="material-icons">delete</i></a>
                </div>
            </li>
        </ul>
        <a ng-href="http://{{bookmark.url}}">{{bookmark.url}}</a>
    </div>
</div>