<div class="container" ng-init="getUserHistory()">
    <div class="row valign-wrapper">
        <div class="col s6 offset-s3 valign">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Card Title</span>
                    <table class="white-text">
                        <thead>
                        <tr>
                            <th data-field="lastVisit">Last visit</th>
                            <th data-field="title">Title</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="elem in history">
                            <td>{{elem.lastVisit}}</td>
                            <td>{{elem.title}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-action">
                    <a href="">Erase my history</a>
                </div>
            </div>
        </div>
    </div>
</div>