<main>
    <div class="row">
        <div class="container">
            <div class="input-field col s9">
                <input placeholder="Google.com" id="first_name" type="text">
                <label for="first_name">Faites une recherche</label>
            </div>
            <div class="input-field col s3">
                <a href="https://www.google.ca/search?q=test" class="waves-effect waves-light btn">C'est parti !</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-image">
                    <img class="centered favorite-icon" src="../../resources/images/google.png">
                </div>
                <div class="card-content">

                </div>
                <div class="card-action">
                    <a href="http://www.google.com">google.com</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-image">
                    <img class="centered favorite-icon" src="../../resources/images/starbucks.png">
                </div>
                <div class="card-content">

                </div>
                <div class="card-action">
                    <a class="green-text text-darken-2" href="http://www.starbucks.com">starbucks.com</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-image">
                    <img class="centered favorite-icon" src="../../resources/images/bmw.png">
                </div>
                <div class="card-content">

                </div>
                <div class="card-action">
                    <a class="light-blue-text text-accent-1" href="http://www.bmw.com">bmw.com</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-image">
                    <img class="centered favorite-icon" src="../../resources/images/twitch.png">
                </div>
                <div class="card-content">

                </div>
                <div class="card-action">
                    <a class="deep-purple-text text-darken-2" href="http://www.twitch.tv">twitch.tv</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><span class="badge">3</span><i class="material-icons">code</i>Programation</div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s11 offset-s1">
                                <ul>
                                    <li><a href="#">nodeJs</a></li>
                                    <li><a href="#">Swift</a></li>
                                    <li><a href="#">java</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><span class="badge">2</span><i class="material-icons">language</i>Actu</div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s11 offset-s1">
                                <ul>
                                    <li><a href="#">Le Monde</a></li>
                                    <li><a href="#">Bfmtv</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><span class="badge">0</span><i class="material-icons">library_books</i>A lire demain</div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s11 offset-s1">
                                <ul>
                                    <li><a href="#">Le Monde</a></li>
                                    <li><a href="#">Bfmtv</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="row">
                <div class="col s6">
                    <a class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
                </div>
            </div>
        </div>
    </div>
</main>