<div class="row" ng-init="userInfo()">
    <div class="col-sm-12" id="profile">
        <div class="center" id="user-profile-picture">
            <img class="img-circle" src="../../resources/images/default-avatar.png">
        </div>

        <div id="user-profile-information">
            <form name="user" class="col s12 m7 l8 offset-l4 offset-m3 offset-l4">
                <div class="row">
                    <div class="input-field col l6 m9 s12">
                        <input placeholder="{{userInfo.username}}" id="username" type="text" ng-model="user.username" disabled>
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l6 m9 s12">
                        <input placeholder="{{userInfo.email}}" id="email" type="email" class="validate" ng-model="user.email">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l6 m9 s12">
                        <input id="first" type="password" ng-model="user.first">
                        <label for="first">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l6 m9 s12">
                        <input id="second" type="password" ng-model="user.second">
                        <label for="second">Retype password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l6 m9 s12">
                        <button class="btn waves-effect waves-light" type="submit" ng-click="userPatchInfo(user)">Modifier</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
