<div class="row">
    <div class="col-sm-12" id="profile">
        <div class="center" id="user-profile-picture">
            <img class="img-circle" src="../../resources/images/default-avatar.png">
        </div>

        <div id="user-profile-information">
            <form class="col s12 m7 l8 offset-l4 offset-m3 offset-l4">
                <div class="row">
                    <div class="input-field col l6 m9 s12">
                        <input placeholder="Lilrom13" id="username" type="text" disabled>
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l6 m9 s12">
                        <input placeholder="lilrom13@gmail.com" id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l6 m9 s12">
                        <input id="password" type="password">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l6 m9 s12">
                        <input id="retypePassword" type="password">
                        <label for="retypePassword">Retype password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l6 m9 s12">
                        <button class="btn waves-effect waves-light" type="submit">Modifier</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
