<div class="valign-wrapper row form-box">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
        <form>
            <div class="card-content">
                <span class="card-title">Sign up</span>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="username">Username</label>
                        <input type="text" class="validate" name="username" id="username" required/>
                    </div>
                    <div class="input-field col s12">
                        <label for="email">Email address</label>
                        <input type="email" class="validate" name="email" id="email" required/>
                    </div>
                    <div class="input-field col s12">
                        <label for="email-confirm">Confirm Email address</label>
                        <input type="email" class="validate" name="email" id="email-confirm" required/>
                    </div>
                    <div class="input-field col s12">
                        <label for="password">Password </label>
                        <input type="password" class="validate" name="password" id="password" required/>
                    </div>
                    <div class="input-field col s12">
                        <label for="password-confirme">Retype password</label>
                        <input type="password" class="validate" name="password-confirm" id="password-confirme" required/>
                    </div>
                    <div class="input-field col s12">
                        <input type="submit" class="btn waves-light" value="Sign up">
                    </div>
                    <div class="input-field col s12">
                        <p>Already sign up ? <a href="#!/signin">Sign in here</a></p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>