<div class="valign-wrapper row form-box">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
        <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
            <div class="card-content">
                <span class="card-title">Sign in</span>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="username">Username</label>
                        <input type="text" class="validate" name="username" id="username" ng-model="username" required/>
                    </div>
                    <div class="input-field col s12">
                        <label for="password">Password </label>
                        <input type="password" class="validate" name="password" id="password" ng-model="password" required/>
                    </div>
                    <div class="input-field col s12">
                        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Sign in</button>
                    </div>
                    <div class="input-field col s12">
                        <p>No account ? <a href="#!/signup">Sign up now</a></p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>