<div id="login-box">
    <div class="left">
        <h1>Sign in</h1>
        <form>
            <input type="text" name="email" placeholder="E-mail" ng-model="email"/>
            <input type="password" name="password" placeholder="Password" ng-model="password"/>

            <input type="submit"  value="Sign me in" ng-click="signup()"/>
        </form>
    </div>

    <div class="right">
        <span class="loginwith">Use<br />social network</span>

        <button class="social-signin facebook">Log in with facebook</button>
        <button class="social-signin twitter">Log in with Twitter</button>
        <button class="social-signin google">Log in with Google+</button>
    </div>
    <div class="or">OR</div>
</div>