<section class="height-100 imagebg text-center" data-overlay="4">
  <div class="background-image-holder">
    <img alt="background" src="../../../../assets/img/particle-bg.jpg" />
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-sm-7 col-md-5">
        <h2>Réinitialiser le mot de passe</h2>
        <p class="lead">
          Entrez votre email pour réinitialiser votre mot de passe.
        </p>
        <form>
          <input type="email" placeholder="Email" />
          <button class="btn btn--primary type--uppercase" type="submit">Réinitialiser</button>
        </form>
        <span class="type--fine-print block">Vous n'avez pas encore de compte?
          <a routerLink="/signup">S'inscrire</a>
        </span>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
