<div class="col-xs-12 col-sm-8 col-md-6 center">
  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <fieldset>
      <h2>Please Sign In</h2>
      <hr class="colorgraph">

      <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !username.valid }">
        <input type="text" name="username" id="username" class="form-control input-lg"
               [ngClass]="{ 'form-control-danger': f.submitted && !username.valid }" placeholder="Username"
               name="username" [(ngModel)]="model.username" #username="ngModel" required >
        <div *ngIf="f.submitted && !username.valid" class="form-control-feedback">Username is required</div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !password.valid}">
        <input type="password" name="password" id="password" class="form-control input-lg"
               [ngClass]="{ 'form-control-danger': f.submitted && !username.valid }" placeholder="Password"
               name="password" [(ngModel)]="model.password" #password="ngModel" required >
        <div *ngIf="f.submitted && !password.valid" class="form-control-feedback">Password is required</div>
      </div>


      <span class="button-checkbox">
        <label for="remember_me">Remember me</label>
        <input id="remember_me" name="remember_me" type="checkbox" id="remember_me" checked="checked" class="hidden">
        <a href="#" class="btn btn-link pull-right">Forgot Password?</a>
      </span>
      <hr class="colorgraph">
      <div class="row">
        <div class="col-sm-12">
          <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
          <a href="#/account/registration" class="btn btn-lg btn-primary btn-block">Register</a>
        </div>
      </div>
    </fieldset>
  </form>
</div>
