<section>
  <div class="">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 marginTab">
        <div class="tabs-container tabs--vertical">
          <ul class="tabs">
            <li class="active">
              <div class="tab__title">
                <span class="titleTab">Favoris</span>
              </div>
              <div class="tab__content">
                <table>
                  <thead>
                  <th style="width: 60%;">FAVORI</th>
                  <th style="width: 20%;">DATE</th>
                  <th style="width: 20%;">ACTIONS</th>
                  </thead>
                  <tbody>
                  <tr>
                    <td>https://favoris1.com/</td>
                    <td>08/08/2017</td>
                    <td ><i class="icon icon-File-Edit"></i> <i class="icon icon-File-Share"></i> <i class="icon icon-File-Trash"></i></td>
                  </tr>
                  <tr>
                    <td>https://favoris2.com/</td>
                    <td>08/08/2017</td>
                    <td ><i class="icon icon-File-Edit"></i> <i class="icon icon-File-Share"></i> <i class="icon icon-File-Trash"></i></td>
                  </tr>
                  <tr>
                    <td>https://favoris3.com/</td>
                    <td>08/08/2017</td>
                    <td ><i class="icon icon-File-Edit"></i> <i class="icon icon-File-Share"></i> <i class="icon icon-File-Trash"></i></td>
                  </tr>
                  <tr>
                    <td class="color--primary" style="font-weight: bold;">File 1</td>
                    <td>08/08/2017</td>
                    <td ><i class="icon icon-File-Edit"></i> <i class="icon icon-File-Share"></i> <i class="icon icon-File-Trash"></i></td>
                  </tr>
                  <tr>
                    <td style="padding-left: 50px;">https://favoris4.com/</td>
                    <td>08/08/2017</td>
                    <td ><i class="icon icon-File-Edit"></i> <i class="icon icon-File-Share"></i> <i class="icon icon-File-Trash"></i></td>
                  </tr>
                  <tr>
                    <td style="padding-left: 50px;">https://favoris4.com/</td>
                    <td>08/08/2017</td>
                    <td ><i class="icon icon-File-Edit"></i> <i class="icon icon-File-Share"></i> <i class="icon icon-File-Trash"></i></td>
                  </tr>
                  <tr>
                    <td class="color--primary" style="font-weight: bold;padding-left: 50px;">File 2</td>
                    <td>08/08/2017</td>
                    <td ><i class="icon icon-File-Edit"></i> <i class="icon icon-File-Share"></i> <i class="icon icon-File-Trash"></i></td>
                  </tr>
                  <tr>
                    <td style="padding-left: 100px;">https://favoris5.com/</td>
                    <td>08/08/2017</td>
                    <td ><i class="icon icon-File-Edit"></i> <i class="icon icon-File-Share"></i> <i class="icon icon-File-Trash"></i></td>
                  </tr>
                  <tr>
                    <td>https://favoris6.com/</td>
                    <td>08/08/2017</td>
                    <td ><i class="icon icon-File-Edit"></i> <i class="icon icon-File-Share"></i> <i class="icon icon-File-Trash"></i></td>
                  </tr>
                  </tbody>
                </table>

              </div>
            </li>
            <li>
              <div class="tab__title">
                <span class="titleTab">Historiques</span>
              </div>
              <div class="tab__content">
                <table>
                  <thead>
                  <th style="width: 60%;">HISTORIQUE</th>
                  <th style="width: 20%;">DATE</th>
                  <th style="width: 20%;">ACTIONS</th>
                  </thead>
                  <tbody>
                  <tr>
                    <td>https://twitter.com/</td>
                    <td>08/08/2017</td>
                    <td ><i class="icon icon-File-Edit"></i> <i class="icon icon-File-Share"></i> <i class="icon icon-File-Trash"></i></td>
                  </tr>
                  <tr>
                    <td>http://forums.jeuxonline.info/forumdisplay.php?f=45</td>
                    <td>08/08/2017</td>
                    <td ><i class="icon icon-File-Edit"></i> <i class="icon icon-File-Share"></i> <i class="icon icon-File-Trash"></i></td>
                  </tr>
                  <tr>
                    <td>https://www.netflix.com/</td>
                    <td>08/08/2017</td>
                    <td ><i class="icon icon-File-Edit"></i> <i class="icon icon-File-Share"></i> <i class="icon icon-File-Trash"></i></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </li>
            <li>
              <div class="tab__title">
                <span class="titleTab">Cookies</span>
              </div>
              <div class="tab__content" style="padding-bottom:200px;"> <!--virer le padding qd y'a du contenu-->
                <p class="lead">
                </p>
              </div>
            </li>
          </ul>

          <div class="tabs-container">
            <ul class="tabs">
              <li>

                <div class="modal-instance">
                  <a class="modal-trigger tab__title" style="text-decoration:none">
                    Effacer vos données de navigation
                  </a>
                  <div class="modal-container">
                    <div class="modal-content">
                      <div class="boxed boxed--lg">
                        <h4>Effacer vos données de navigation</h4>
                        <div class="row">
                          <div class="col-xs-7">
                            Effacer les éléments suivants correspondant à la période
                          </div>
                          <div class="col-xs-5">
                            <div class="input-select">
                              <select>
                                <option value="">de moins d'une heure</option>
                                <option selected="" value="">des dernières 24h</option>
                                <option value="">de la dernière semaine</option>
                                <option value="">des 4 dernières semaines</option>
                                <option value="">tous</option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <ul class="modal_del">
                          <li>
                            <div class="input-checkbox">
                              <input id="checkbox1" type="checkbox" name="agree" checked/>
                              <label for="checkbox1"></label>
                            </div>
                            <span>Historique de navigation</span>
                          </li>

                          <li>
                            <div class="input-checkbox">
                              <input id="checkbox2" type="checkbox" name="agree" />
                              <label for="checkbox2"></label>
                            </div>
                            <span>Favoris</span>
                          </li>

                          <li>
                            <div class="input-checkbox">
                              <input id="checkbox3" type="checkbox" name="agree" />
                              <label for="checkbox3"></label>
                            </div>
                            <span>Cookies</span>
                          </li>
                        </ul>

                        <div class="row">
                          <div class="col-xs-2">
                          </div>
                          <div class="col-xs-3">
                            <button type="submit" class="btn btn--secondary type--uppercase">Annuler</button>
                          </div>
                          <div class="col-xs-7">
                            <button type="submit" class="btn btn--primary type--uppercase">Effacer les données de Navigation</button>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div><!--end of modal instance-->

              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
