<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel id="ngb-panel-0" title="Favoris">
        <ng-template ngbPanelContent>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="ngb-panel-1" title="Historique">
        <ng-template ngbPanelContent>

          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Date</h4>
              <div class="card">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>