<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Effacer vos données de navigation</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="boxed boxed--lg">
      <div class="row">
        <div class="col-xs-7">
          Effacer les éléments suivants correspondant à la période
        </div>
        <div class="col-xs-5">
          <div class="input-select">
            <select>
              <option value="">de moins d'une heure</option>
              <option selected="" value="">des dernières 24h</option>
              <option value="">de la dernière semaine</option>
              <option value="">des 4 dernières semaines</option>
              <option value="">tous</option>
            </select>
          </div>
        </div>
      </div>

      <ul class="modal_del">
        <li>
          <div class="input-checkbox">
            <input id="checkbox1" type="checkbox" name="agree" checked/>
            <label for="checkbox1"></label>
          </div>
          <span>Historique de navigation</span>
        </li>

        <li>
          <div class="input-checkbox">
            <input id="checkbox2" type="checkbox" name="agree" />
            <label for="checkbox2"></label>
          </div>
          <span>Favoris</span>
        </li>

        <li>
          <div class="input-checkbox">
            <input id="checkbox3" type="checkbox" name="agree" />
            <label for="checkbox3"></label>
          </div>
          <span>Cookies</span>
        </li>
      </ul>

      <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-3">
          <button type="submit" class="btn btn--secondary type--uppercase" (click)="c('Close click')">Annuler</button>
        </div>
        <div class="col-xs-7">
          <button type="submit" class="btn btn--primary type--uppercase">Effacer les données de Navigation</button>
        </div>
      </div>

    </div>
  </div>
</ng-template>

<a class="btn" style="margin: 20px;" (click)="downloadFile()">
  <span class="btn__text">Sauvegarder l'environement</span>
</a>

<a class="btn btn--primary" href="#" (click)="open(content)">
  <span class="btn__text">Effacer les données de navigation</span>
</a>

<ngb-accordion class="col-sm-12" #acc="ngbAccordion" activeIds="config-panel-one">
  <ngb-panel title="Bookmarks" id="config-panel-one">
    <ng-template ngbPanelContent>
      <app-bookmark-list [bookmarks]="null" [index]="0"></app-bookmark-list>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="History">
    <ng-template ngbPanelContent>
      <app-history-list></app-history-list>
    </ng-template>
  </ngb-panel>
</ngb-accordion>