html, body {
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    font-family: 'Roboto', sans-serif;
}

.favorite-icon {
    max-width: 100px;
    max-height: 100px;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}