@import main

body, html
  font: 100% $font-stack
  background-color: $primary-color

.favorite-icon
  max-width: 100px
  max-height: 100px

img
  .centered
    display: block
    margin-left: auto
    margin-right: auto