@import url(http://fonts.googleapis.com/css?family=Roboto:300);

html, body {
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    font-family: 'Roboto', sans-serif;
}

html, body, .form-box {
    height: 100%;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #50A3A2;
    box-shadow: 0 1px 0 0 #50A3A2;
}

.input-field input[type=password]:focus {
    border-bottom: 1px solid #50A3A2;
    box-shadow: 0 1px 0 0 #50A3A2;
}

.input-field input[type=email]:focus {
    border-bottom: 1px solid #50A3A2;
    box-shadow: 0 1px 0 0 #50A3A2;
}

/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #e53935;
    box-shadow: 0 1px 0 0 #e53935;
}

.input-field input[type=password].invalid {
    border-bottom: 1px solid #e53935;
    box-shadow: 0 1px 0 0 #e53935;
}

.input-field input[type=email].invalid {
    border-bottom: 1px solid #e53935;
    box-shadow: 0 1px 0 0 #e53935;
}

/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #50A3A2;
    box-shadow: 0 1px 0 0 #50A3A2;
}

.input-field input[type=password].valid {
    border-bottom: 1px solid #50A3A2;
    box-shadow: 0 1px 0 0 #50A3A2;
}

.input-field input[type=email].valid {
    border-bottom: 1px solid #50A3A2;
    box-shadow: 0 1px 0 0 #50A3A2;
}