<div class="col-xs-12 col-sm-8 col-md-6 push-sm-2 push-md-3">
  <form name="form" (ngSubmit)="f.form.valid && registration()" #f="ngForm" novalidate>
    <fieldset>
      <h2>Please Sign Up</h2>
      <hr class="colorgraph">

      <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !username.valid }">
        <input type="text" name="username" id="username" class="form-control input-lg"
               [ngClass]="{ 'form-control-danger': f.submitted && !username.valid }" placeholder="Username"
               name="username" [(ngModel)]="model.username" #username="ngModel" required >
        <div *ngIf="f.submitted && !username.valid" class="form-control-feedback">Username is required</div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !email.valid }">
        <input type="email" name="email" id="email" class="form-control input-lg"
               [ngClass]="{ 'form-control-danger': f.submitted && !email.valid }" placeholder="Email"
               name="email" [(ngModel)]="model.email" #email="ngModel" required >
        <div *ngIf="f.submitted && !email.valid"class="form-control-feedback">Email is required</div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !password.valid }">
        <input type="password" name="password" id="password" class="form-control input-lg"
               [ngClass]="{ 'form-control-danger': f.submitted && !username.valid }" placeholder="Password"
               name="password" [(ngModel)]="model.password" #password="ngModel" required >
        <div *ngIf="f.submitted && !password.valid" class="form-control-feedback">Password is required</div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !passwordConf.valid || password.value !== passwordConf.value}">
        <input type="password" name="passwordConf" id="passwordConf" class="form-control input-lg"
               [ngClass]="{ 'form-control-danger': f.submitted && !username.valid }" placeholder="Password Confirmation"
               name="passwordConf" [(ngModel)]="model.passwordConf" #passwordConf="ngModel" required >
        <div *ngIf="f.submitted && !passwordConf.valid" class="form-control-feedback">Password Confirmation is required</div>
        <div *ngIf="password.value != passwordConf.value" class="form-control-feedback">Password different</div>
      </div>

      <span class="button-checkbox">
        <p>Already an account ? <a href="#/account/login">Please Log In</a></p>
      </span>
      <hr class="colorgraph">
      <div class="row">
        <div class="col-sm-12">
          <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign Up">
        </div>
      </div>
    </fieldset>
  </form>
</div>
