<ul id="slide-out" class="side-nav">
    <li>
        <div class="userView">
            <div class="background">
                <img src="../resources/images/back.jpg">
            </div>
            <a href="#!user"><img class="circle" src="../resources/images/marghe.jpg"></a>
            <a href="#!name"><span class="white-text name">Romain Margheriti</span></a>
            <a href="#!email"><span class="white-text email">romain.margheriti@epitech.eu</span></a>
        </div>
    </li>
    <li><a href="index.html">Accueil</a></li>
    <li><a href="users/profile.html">Paramètre</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
