<header>
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="user#!/">Mon profil</a></li>
        <li><a href="user#!/logout">Déconnexion</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="#!/" class="brand-logo"><img id="logo" src="../resources/images/2018_logo_wefaves.png"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="dropdown-button" href="" data-activates="dropdown1"><img class="circle" id="profile-picture" src="../resources/images/default-avatar.png">{{user.username}}<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="/#!/bookmarks">Favoris</a></li>
                <li><a href="/#!/history">Historique</a></li>
            </ul>
        </div>
    </nav>
</header>
